@import "../variables"
.contenedorTabla
    margin: 2% 4%
    width: 92%
    overflow-y: scroll
    

.tablaCompra
    width: 100%
    font-family: "Open Sans"
    
.mat-header-row
    background-color: $color1Variation

.header2
    font-size: 1rem
    font-weight: SemiBold

.enlace
    font-size: 1.2rem
    color: #21165f
#triangulo
    fill: ($colorContraste)

#triangulo:hover
    fill: $color1
    cursor: pointer

