@import "../variables"

@mixin hover
    background-color: $color2
    cursor: pointer

.listaArchivos
    list-style-type: none
    padding-left: 2%

.gestionarArchivos
    display: inline-flex
    width: 50%
    justify-content: space-between
    margin-bottom: 3%

.botonMas
    font-size: 1.3rem
    border: none
    border-radius: 10px
    background-color: $colorContraste
    padding: 4% 9%
    color: white
.botonMas:hover
    @include hover
    font-size:1.5rem
     

.terminar
    width: 82%
    margin-left: 11%
    padding: 12px 0
    border: 0
    border-radius: 10px
    background-color: $color1
    font-size: 1.1rem
    color: white    

.terminar:hover
     @include hover
     
