<div>
  <ul class = "listaArchivos">
    <li *ngFor = "let archivo of archivos; let i = index">
      <span [id] = "'delete' + elementos.lote + i" >{{archivo}}</span>
      <button class = "Cerrar" (click)= "borrarEnbasedeDatos($event, i)"><mat-icon class= "icono" >close</mat-icon></button>
    </li>
  </ul>
</div>
<div *ngIf="elementos.estado==='Completo'; then completo; else incompleto"></div>

<ng-template #completo>
    <div *ngIf = "archivos.length == 0" >
      <h4 >Sin Certificados</h4>
      </div>
  </ng-template>
  <ng-template #incompleto>
    <div [id] = "'Elemento' + elementos.lote">
      <ul [id] = "'list' + elementos.lote" class = "nuevosLista">
        <li *ngFor = "let archivo of nuevosArchivos; let i = index">
          {{archivo.name}}
          <button class = "Cerrar" (click)= "borrarArchivos($event, i)"><mat-icon class= "icono" >close</mat-icon></button>
        </li>
      </ul>
      <div class = "gestionarArchivos">
        <label [for] = "'subir' + elementos.lote" class= "botonMas" [id]= "'mas' + elementos.lote">+</label>
        <input  class = "subir" [id] = "'subir' + elementos.lote" style= "display:none" [name]="'subir' + elementos.lote" (change) = "subirArchivos($event)" type="file" multiple/>
        <button (click) = "botonTerminar($event)" class = "terminar">Terminar</button>
      </div>  
      
    </div>
  </ng-template>
