<div class= "content">
    <div class ="formUser">
        <img src = 'assets/img/logo.png' alt = "logoEmpresa" class = "imagenLogo"/>  
    <form  #userForm = "ngForm" (ngSubmit) = "login(userForm.value)" >
        <p *ngIf="conectado == false" class = "error" >Datos incorrectos. Inténtalo de nuevo.</p>
        <div class = form-group>
           <input placeholder = "Correo electrónico" style = "margin-bottom: 5%" name = "email" 
                type= "email" class= "mailDisplay" id="email" [(ngModel)] = "model.email"
           />           
       </div>
       
       <div class = form-group>
            <input  placeholder = "Contraseña" name = "password"
                type= "password" class= "mailDisplay" id="password"
                [(ngModel)] = "model.password"/>   
                <p class = "alink" ><a>¿Olvidaste tu contraseña?</a></p>        
        </div>

        <button type= "submit" class = "botonSubmit" routerLink="ordenesCompra">Entrar</button>
       

    </form>

   <span class = "registrarse"> <p>¿No tienes cuenta? <a (click)="registrar()">Regístrate aquí</a></p></span>
    </div>
</div>    
