<app-header></app-header>

<div class="mat-elevation-z8 contenedorTabla">
    <table mat-table [dataSource]="dataSource"  matSort class = "tablaCompra">
    
        
        <!-- Position Column -->
        <ng-container matColumnDef="lote">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class= "header2" > NÚMERO DEL LOTE </th>
          <td mat-cell *matCellDef="let element"><a class= "enlace">{{element.lote}}</a></td>
        </ng-container>
        
        <!-- Name Column -->
        <ng-container matColumnDef="producto">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class= "header2"> PRODUCTO</th>
          <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class= "header2"> ESTADO </th>
          <td mat-cell *matCellDef="let element">
           <div *ngIf= "rol=='Administrador'"> 
           <select (change)= "cambiarEstado($event)" id= {{element.lote}} class = "estadoSeleccionar" value = {{element.estado}}>
              <option>Completo</option>
              <option>Incompleto</option>
            </select>
            </div>
            <div *ngIf= "rol!='Administrador'">{{element.estado}} </div>
            </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="archivos" style="width:20%">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class= "header2"> CERTIFICADOS</th>
          <td mat-cell *matCellDef="let element" style="width:33%"> <app-manejo-certificados [elementos]=element (enviarEstado) ="enviarEstado($event)" ></app-manejo-certificados></td>
        </ng-container>
    
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
    <app-footer-all></app-footer-all>

    <ng-template #OtroFiltro>
      
    </ng-template>  
