@import "../variables"
@import "../mixins"

@mixin inputsStyled
    width: 90%
    padding: 2% 4%
    background-color: $colorGris
    font-size: 1rem
    border-radius: 10px
    border: 2px solid #aaa
    color: $colorTitulo    

.return
    display: flex
    align-items: center
    margin-left: 4%
    cursor: pointer



    
    #ordenes 
        padding-left: 1%
        padding-top: 1%
        margin:0
    #triangulo
        fill: $color2

.return:hover
    

    #ordenes 
        font-size: 1.2rem  

    #triangulo
        fill: $colorContraste               

.contenedorTabla
    margin: 2% 4%
    width: 92%
    overflow-y: scroll
    

.tablaCompra
    width: 100%
    font-family: "Open Sans"
    
.mat-header-row
    background-color: #d3d3d3

.header2
    font-size: 1rem
    font-weight: 600

.enlace
    font-size: 1.2rem
    color: #21165f


.estadoSeleccionar
    @include inputsStyled    





     