<form #filterForm = "ngForm" class = "formFiltros">
    <div class="numeroOrden"> 
            <label for= "inputNumero">#</label>
            <input name= "numero" id = "numero"  type="number" value ="" (keyup)="borrarfiltros('numero',$event)" placeholder="Busca por el número de la orden"/>         
    </div>
    <div class="otrosInput item2">
            <label for ="fechaInicial">Fecha inicial</label>
            <input name= "fechaInicial" id= "fechaInicial" type="date" />
    </div>
    <div class="otrosInput item3">
            <label for ="fechaFinal">Fecha final</label>
            <input name= "fechaFinal" id= "fechaFinal" type="date"/>
    </div> 

    <div class="otrosInput item4">
            <input name= "nit" id= "nit" type="number" placeholder="NIT" (keyup)="borrarfiltros('nit',$event)"/>
    </div>

    <div class="otrosInput item7">
        <input name= "razonSocial" id= "RazonSocial" type="text" placeholder="Razón Social" (keyup)="borrarfiltros('razonSocial',$event)" />
</div>

    <div class="otrosInput item5">
            <select name="estado" id="estado" (change)="borrarfiltros('estado',$event)">
                   <option disabled selected>Estado</option>
                   <option value="">Todos</option>
                    <option value="Completo">Completo</option>
                    <option value="Pendiente">Pendiente</option>
            </select>
    </div>
    <div class="otrosInput item6">
            <input type="reset" id= "borrarFiltros"  (click)="borrarTodo()" value= "Borrar filtros"/>
    </div>
</form>    

